<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistem Deteksi Kematangan Sawit</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>

<body>
    <!--  NAVBAR  -->
    <nav>
        <div class="logo-area">
            <img src="{{ url_for('static', filename='Logo Sawit.png') }}">
            
            <h2>
                Sistem Deteksi
                Kematangan Sawit
            </h2>
        </div>

        <div class="menu">
            <a href="/"
            class="{% if request.path == '/' %}active{% endif %}">
                Beranda
            </a>

            <a href="/deteksi"
            class="{% if request.path == '/deteksi' %}active{% endif %}">
                Deteksi
            </a>

            <a href="/tentang"
            class="{% if request.path == '/tentang' %}active{% endif %}">
                Tentang
            </a>
        </div>
    </nav>
    
    <!--  HERO SECTION  -->
    <div class="container">

        <!-- Text -->
        <div class="text">
            <h1>
                Deteksi Tingkat
                Kematangan
                Buah Sawit
            </h1>
            <p>
                Sistem berbasis Convolutional Neural Network (CNN)
                untuk membantu mendeteksi tingkat kematangan
                buah kelapa sawit secara otomatis.
            </p>
            <a href="/deteksi" class="btn">
                Mulai Deteksi
            </a>
        </div>

        <!-- Image -->
        <div class="image">
            <img src="{{ url_for('static', filename='Sawit Wall.jpg') }}">
        </div>
    </div>
</body>
</html>